<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='JI-logo.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='boostrap/boostrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shopping/brand.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  
    <title>Casual</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12"> 
              <nav>
                <div class="navbar">
                  <i class='bx bx-menu'></i>
                  <div class="logo"><a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='JI-logo.png')}}" alt="" srcset=""></a></div>
                  <div class="nav-links">
                    <div class="sidebar-logo">
                      <span class="logo-name"><img src="{{ url_for('static', filename='JI-logo.png')}}" alt="" srcset=""></span>
                      <i class='bx bx-x' ></i>
                    </div>
                    <ul class="links">
                      <li><a href="{{ url_for('home_page') }}">HOME</a></li>
                      <li><a href="{{ url_for('historical_places') }}">HistoricalPlaces</a></li>
                      <li><a href="{{ url_for('fp') }}">FoodPoints</a></li>
                      <li>
                        <a href="#">ShoppingPoints</a>
                        <i class='bx bxs-chevron-down sp-arrow arrow  '></i>
                        <ul class="sp-sub-menu sub-menu">
                          <li><a href="{{ url_for('brand') }}">Brands</a></li>
                          <li><a href="{{ url_for('local') }}">Local Shops</a></li>
                          <li><a href="{{ url_for('marts') }}">Local Marts</a></li>
                          
                        </ul>
                      </li>
                      <li>
                        <a href="{{ url_for('edu') }}">EducationalInstitues</a>
                        <i class='bx bxs-chevron-down edu-arrow arrow  '></i>
                        <ul class="edu-sub-menu sub-menu">
                          <li><a href="{{ url_for('edu') }}">Schools</a></li>
                          <li><a href="{{ url_for('edu') }}">Colleges</a></li>
                          <li><a href="{{ url_for('edu') }}">Universities</a></li>
                          <li><a href="{{ url_for('edu') }}">Islamic Centers</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Others</a>
                        <i class='bx bxs-chevron-down other-arrow arrow  '></i>
                        <ul class="other-sub-menu sub-menu">
                          <li><a href="{{ url_for('hospital') }}">Hospitals</a></li>
                          <li><a href="{{ url_for('service') }}">Services</a></li>
                          <li><a href="{{ url_for('Software_Houses') }}">SoftwareHouses</a></li>
                          <li><a href="{{ url_for('town_parks') }}">Parks&Towns</a></li>
                        </ul>
                      </li>
                      
            
                    </ul>
                  </div>
                  <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                      <input type="text" placeholder="Search..." id="search-input">
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
      <div class="row">
        <div class="col-12">
          <img src="{{ url_for('static', filename='brand-img/1.jpg')}}" class="img-fluid" alt="...">
          <div class="typewriter">
            <h1> Colors of life </h1>
          </div>
        </div>
      </div>
    
    
    <center><div class="row id=gallery">
        
            <div class="col-6 Categories">
                <figure class="figure"><img src="{{ url_for('static', filename='brand-img/3.png')}}" class="casual" alt="img_2"> <figcaption class="figure-caption text-center">
                    <h4>Casual</h4>
                  </figcaption></figure>
            </div>
        </div></center>


        <!--khaadi-->

<div class="row" id="khaadi">
    <div class="col-12">
      <h1>KHAADI</h1>
      <a href="https://www.instagram.com/khaadi?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">  <i class="bi bi-instagram"></i></a>
      <a href="https://www.khaadi.com/">  <i class="bi bi-globe2"></i></a>
      <a href="https://www.google.com/search?sca_esv=12ccb0fb0fe1b570&q=khadi+jhelum&npsic=0&rflfq=1&rldoc=1&rllag=32921606,73733041,1608&tbm=lcl&sa=X&ved=2ahUKEwjizrrd5KKFAxXMgv0HHXFYCQ8QtgN6BAgZEAE&biw=1357&bih=642&dpr=1.18#rlfi=hd:;si:;mv:[[32.9375601,73.73638360000001],[32.905652499999995,73.72969979999999]];tbs:lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!3sIAE,lf:1,lf_ui:10"><i class="bi bi-geo-alt-fill"></i> </a>
    
    </div>
    <br><br>
        <div class="col-lg-5 col-sm-12">
          <div class="card">
            <img src="{{ url_for('static', filename='brand-img/k2.jpeg')}}" class="card-img-top k1" alt="ndure">
            <div class="card-body">
                <h5 class="card-title text-center">
        <a href="https://pk.khaadi.com/ready-to-wear/casuals/" >Casual</a></h5>
            </div>
          </div>
        </div>
          </div>

 <!--j.-->
 <div class="row" id="j.">
    <div class="col-12">
    <h1>J.</h1>
    <a href="https://www.instagram.com/j.junaidjamshed?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="bi bi-instagram"></i></a>
    <a href="https://www.junaidjamshed.com/">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=j.+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=JZYLZrmzFsWA9u8Pz8-48Ao&ved=0ahUKEwj52a7e5KKFAxVFgP0HHc8nDq4Q4dUDCAk&uact=5&oq=j.+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIglqLiBqaGVsdW0yCxAAGIAEGIoFGJECMgUQABiABDIFEAAYgAQyBhAAGAcYHjIFEAAYgAQyBBAAGB4yAhAmMgsQABiABBiKBRiGAzILEAAYgAQYigUYhgMyCxAAGIAEGIoFGIYDSLUYUABYxwtwAHgAkAEAmAHzAaAB1QWqAQMyLTO4AQPIAQD4AQGYAgOgAuwFwgIKEAAYgAQYigUYQ8ICDRAAGIAEGIoFGEMYsQPCAhAQABiABBiKBRhDGLEDGIMBmAMAkgcDMi0zoAe_Eg&sclient=gws-wiz-local#rlfi=hd:;si:;mv:[[32.9678897,73.7508632],[32.931124,73.7243281]]"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
  <br><br>
          <div class="col-lg-5 col-sm-12">
            <div class="card">
              <img src="{{ url_for('static', filename='brand-img/j5.jpeg')}}" class="card-img-top k1" alt="ndure">
              <div class="card-body">
                <h5 class="card-title text-center"><a href="https://www.junaidjamshed.com/women-collections" >Casual</a></h5>
            
              </div>
            </div>
          </div>
            </div>

            <!--Ethnic-->
<div class="row" id="Ethnic">
    <div class="col-12">
    <h1>Ethnic</h1>
    <a href="https://www.instagram.com/ethncofficialpk/"></i></a>
    <a href="https://ethnc.com/">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=ethnic+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=w5YLZuT4I4KJ9u8Pqe6bgA4&ved=0ahUKEwik5uep5aKFAxWChP0HHSn3BuAQ4dUDCAk&uact=5&oq=ethnic+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIg1ldGhuaWMgamhlbHVtMgsQABiABBiKBRiRAjIFEAAYgAQyBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yCxAAGIAEGIoFGJECMgQQABgeMgQQABgeMgQQABgeMgIQJkjMFFAAWL8QcAB4AJABAJgB-gGgAZ8NqgEDMi03uAEDyAEA-AEBmAIFoALzCcICChAAGIAEGIoFGEPCAg0QABiABBiKBRhDGLEDwgIQEAAYgAQYigUYQxixAxiDAcICBxAAGIAEGA3CAggQABgIGAcYHsICCBAAGAUYHhgNmAMAkgcDMi01oAf6LQ&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
              <br><br>
            <div class="col-lg-5 col-sm-12">
              <div class="card">
                <img src="{{ url_for('static', filename='brand-img/et6.jpeg')}}" class="card-img-top k1" alt="ndure">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="https://pk.ethnc.com/collections/casual" >Casual</a></h5>
              
                </div>
              </div>
            </div>
              </div>

<!--bareeze-->
<div class="row" id="bareeze">
    <div class="col-12 ">
      <h1>Bareeze</h1>
      <a href="https://www.instagram.com/bareezeofficial/">  <i class="bi bi-instagram"></i></a>
      <a href="https://www.bareeze.com/pk/sale.html?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYefbsdoECzNHs62Kios7H3sByhHOpjpPuirgrlOb4xet3Zd54V0atxoCf7kQAvD_BwE">  <i class="bi bi-globe2"></i></a>
      <a href="https://www.google.com/search?q=bareeze+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=j5gLZvjMCu2O9u8PpNqskAc&oq=breze+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgxicmV6ZSBqaGVsdW0qAggAMggQABiABBiiBDIIEAAYgAQYogQyCBAAGIAEGKIEMggQABiABBiiBEiiKFD_A1iaGHAAeACQAQCYAYYCoAGQDaoBAzItN7gBAcgBAPgBAZgCB6AC0Q3CAgoQABiABBiKBRhDwgIFEAAYgATCAgYQABgHGB7CAgQQABgewgICECbCAgsQABiABBiKBRiRAsICDRAAGIAEGIoFGEMYsQPCAhAQABiABBiKBRhDGLEDGIMBwgIIEAAYBxgeGA_CAggQABgIGAcYHsICCBAAGAUYBxgemAMAiAYBkgcDMi03oAe0JQ&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
    
    </div>
            <br><br>
          <div class="col-lg-5 col-sm-12">
            <div class="card">
              <img src="{{ url_for('static', filename='brand-img/b2.jpeg')}}" class="card-img-top k1" alt="ndure">
              <div class="card-body">
                <h5 class="card-title text-center">
                  <a href="https://www.bareeze.com/pk/prints/view-all.html" >Casual</a></h5>
            
              </div>
            </div>
          </div>
            </div>


<!--Nishat Linen-->
<div class="row" id="Nishat Linen">
    <div class="col-12">
    <h1>Nishat Linen</h1>
    <a href="https://www.instagram.com/nishatlinen/"></i></a>
    <a href="https://nishatlinen.com/collections/ready-to-wear-1?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYY_s1dz27cfEdA4oUcWl86b2yLp65gB4VZ7wHnWIoL_1oA_nXlG-EBoCowYQAvD_BwE">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=nishat+linen+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=-ZkLZtOTNoKmi-gPpJObqA0&oq=nish+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgtuaXNoIGpoZWx1bSoCCAAyBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjILEAAYgAQYigUYhgMyCxAAGIAEGIoFGIYDSPEvUABYphBwAHgAkAEAmAHxAaABmgmqAQMyLTW4AQPIAQD4AQGYAgSgAtIHwgILEAAYgAQYigUYkQLCAgoQABiABBiKBRhDwgINEAAYgAQYigUYQxixA8ICEBAAGIAEGIoFGEMYsQMYgwHCAggQABgHGB4YCsICCBAAGAcYHhgPmAMAkgcDMi00oAf6Gg&sclient=gws-wiz-local#rlfi=hd:;si:;mv:[[32.9394908,73.8750101],[32.8008971,73.7259445]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:4"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
          <br><br>
        <div class="col-lg-5 col-sm-12">
          <div class="card">
            <img src="{{ url_for('static', filename='brand-img/n3.jpeg')}}" class="card-img-top k1" alt="ndure">
            <div class="card-body">
              <h5 class="card-title text-center"><a href="https://nishatlinen.com/collections/any-day-pret-1" >Casual</a></h5>
            </div>
          </div>
        </div>
          </div>


<!--Alkaram Studio-->
<div class="row" id="Alkaram Studio">
    <div class="col-12">
    <h1>Alkaram Studio</h1>
    <a href="https://www.instagram.com/alkaramstudio/"></i></a>
    <a href="https://www.alkaramstudio.com/collections/sale?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYSmDvfalQigC3XMuF-AP8SKTE7pl8R5VQkCngwVomcJQOp-ryftLiRoCAskQAvD_BwE">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=alkaram+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=WpsLZtujD-z_7_UP8MqriAk&oq=alkaram+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIg5hbGthcmFtIGpoZWx1bSoCCAAyCxAAGIAEGIoFGJECMgYQABgHGB4yBhAAGAcYHjICECYyCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0jiP1AAWLkmcAB4AJABAJgBxQKgAYIQqgEFMi02LjK4AQHIAQD4AQGYAgigAsAQwgIKEAAYgAQYigUYQ8ICDRAAGIAEGIoFGEMYsQPCAhAQABiABBiKBRhDGLEDGIMBwgIHEAAYgAQYDZgDAJIHBTItNi4yoAeQKw&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
<br><br>
  <br><br>
<div class="col-lg-5 col-sm-12">
  <div class="card">
    <img src="{{ url_for('static', filename='brand-img/as1.jpeg')}}" class="card-img-top k1" alt="ndure">
    <div class="card-body">
        <h5 class="card-title text-center"><a href="https://www.alkaramstudio.com/collections/new-in-women" >Women</a></h5>
    </div>
  </div>
</div>
  </div>

<!--gul ahmed-->
<div class="row" id="gul ahmed">
    <div class="col-12">
    <h1>Gul Ahmed</h1>
    <a href="https://www.instagram.com/gulahmedfashion/"></i></a>
    <a href="https://www.gulahmedshop.com/">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=gul+amham+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=Kp4LZrbhDdKI9u8P362ukAw&ved=0ahUKEwi2np-x7KKFAxVShP0HHd-WC8IQ4dUDCAk&uact=5&oq=gul+amham+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIhBndWwgYW1oYW0gamhlbHVtMgcQABiABBgNMgcQABiABBgNMggQABgFGB4YDTIIEAAYCBgeGA1IwTJQ5AtY4itwAHgAkAEAmAGsAqAB9BOqAQYyLTEwLjG4AQPIAQD4AQGYAgigAt0OwgIFEAAYgATCAgYQABgHGB7CAgIQJsICCxAAGIAEGIoFGIYDwgILEAAYgAQYigUYkQLCAgoQABiABBiKBRhDwgINEAAYgAQYigUYQxixA8ICEBAAGIAEGIoFGEMYsQMYgwHCAggQABgFGAcYHpgDAIgGAZIHAzItOKAHgz8&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  <br><br>
<div class="col-lg-5 col-sm-12">
  <div class="card">
    <img src="{{ url_for('static', filename='brand-img/g2.jpeg')}}" class="card-img-top k1" alt="ndure">
    <div class="card-body">
      <h5 class="card-title text-center"><a href="https://www.gulahmedshop.com/women/ideas-pret" >Casual</a></h5>
    </div>
  </div>
</div>
  </div>
</div>

<!--Lime Light-->
<div class="row" id="Lime Light">
    <div class="col-12">
    <h1>Lime Light</h1>
    <a href="https://www.instagram.com/collectionlimelight/"></i></a>
    <a href="https://www.limelight.pk/">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=lime+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=X58LZszKF5mXxc8P1pe2yAY&ved=0ahUKEwiM9tTE7aKFAxWZS_EDHdaLDWkQ4dUDCAk&uact=5&oq=lime+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgtsaW1lIGpoZWx1bTIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0jzFVAAWIIKcAB4AJABAJgBggKgAaYJqgEDMi01uAEDyAEA-AEBmAIDoAL1BcICDhAAGIAEGIoFGJECGLEDwgIKEAAYgAQYigUYQ8ICEBAAGIAEGIoFGEMYsQMYgwHCAgUQABiABMICCBAAGAgYBxgemAMAkgcDMi0zoAf8Iw&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
  <br><br>
  <div class="col-lg-5 col-sm-12">
    <div class="card">
      <img src="{{ url_for('static', filename='brand-img/ll1.jpeg')}}" class="card-img-top k1" alt="ndure">
      <div class="card-body">
        <h5 class="card-title text-center"><a href="https://www.limelight.pk/collections/be-yourself" >Casual</a></h5>
            
      </div>
    </div>
  </div>
    </div>

<!--Edenrobe-->
<div class="row" id="Edenrobe">
    <div class="col-12">
    <h1>Edenrobe</h1>
    <a href="https://www.instagram.com/edenrobe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="bi bi-instagram"></i></a>
    <a href="https://edenrobe.com/">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=edenrobe+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=cJYLZqmbBtKp9u8Pj-iXgAg&oq=ed+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgllZCBqaGVsdW0qAggAMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB5I2SZQ9gRYoBBwAHgAkAEAmAGRAqAB2QmqAQMyLTW4AQHIAQD4AQGYAgSgApgIwgILEAAYgAQYigUYkQLCAgUQABiABMICBBAAGB7CAgIQJsICCxAAGIAEGIoFGIYDwgIKEAAYgAQYigUYQ8ICDRAAGIAEGIoFGEMYsQPCAhAQABiABBiKBRhDGLEDGIMBmAMAiAYBkgcDMi00oAeQHg&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
  <br><br>
  <div class="col-lg-5 col-sm-12">
    <div class="card">
      <img src="{{ url_for('static', filename='brand-img/e1.jpeg')}}" class="card-img-top k1" alt="ndure">
      <div class="card-body">
        <h5 class="card-title text-center"><a href="https://edenrobe.com/collections/women" >Casual</a></h5>
      </div>
    </div>
  </div>
    </div>

    <!--Stylo-->
<div class="row"  id="Stylo">
  <div class="col-12">
  <h1>Stylo</h1>
  <a href="https://www.instagram.com/stylopk/"><i class="bi bi-instagram"></i></a>
  <a href="https://stylo.pk/collections/women-shoes?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYayWVhr4nmVJSpKo7zsTs2ZyOVDQNdrJH6OnZc3USJy_8geWhk2QvRoCcMEQAvD_BwE">  <i class="bi bi-globe2"></i></a>
  <a href="https://www.google.com/search?q=stylo+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=e6ILZpf0BK_67_UPuf-_6Ao&ved=0ahUKEwjXnYrA8KKFAxUv_bsIHbn_D60Q4dUDCAk&uact=5&oq=stylo+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgxzdHlsbyBqaGVsdW0yCxAAGIAEGIoFGJECMgYQABgHGB4yCxAAGIAEGIoFGJECMgIQJjICECYyAhAmMgIQJjICECYyCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0iwMVD8DljHLXAAeACQAQCYAY0CoAG-EKoBAzItObgBA8gBAPgBAZgCB6AC_QzCAggQABgHGB4YCsICBhAAGB4YD8ICBhAAGAgYHsICChAAGIAEGIoFGEPCAg4QABiABBiKBRiRAhixA8ICEBAAGIAEGIoFGEMYsQMYgwGYAwCIBgGSBwMyLTegB8c5&sclient=gws-wiz-local#rlfi=hd:;si:;mv:[[33.0376426,73.74128429999999],[32.921430799999996,73.595208]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:10"><i class="bi bi-geo-alt-fill"></i> </a>

</div>
<br><br>
<div class="col-lg-5 col-sm-12">
  <div class="card">
    <img src="{{ url_for('static', filename='brand-img/s4.jpeg')}}" class="card-img-top k1" alt="ndure">
    <div class="card-body">
      <h5 class="card-title text-center"><a href="https://stylo.pk/collections/unstitched">Casual</a></h5>
    </div>
  </div>
</div>
  </div>
    
<!--Clive-->
<div class="row" id="Clive">
  <div class="col-12">
  <h1>Clive</h1>
  <a href="https://www.instagram.com/clive.shoes/"><i class="bi bi-instagram"></i></a>
  <a href="https://cliveshoes.com/">  <i class="bi bi-globe2"></i></a>
  <a href="https://www.google.com/search?q=clive+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=U6MLZuybKZuD9u8PuOGAmAk&ved=0ahUKEwiska6n8aKFAxWbgf0HHbgwAJMQ4dUDCAk&uact=5&oq=clive+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgxjbGl2ZSBqaGVsdW0yBRAAGIAEMgYQABgHGB4yAhAmSOMQUABY5wxwAHgAkAEAmAGKAqAB9QqqAQMyLTa4AQPIAQD4AQGYAgWgArsJwgIKEAAYgAQYigUYQ8ICCxAAGIAEGIoFGJECwgIOEAAYgAQYigUYkQIYsQPCAhAQABiABBiKBRhDGLEDGIMBwgIIEAAYBxgeGA_CAggQABgFGAcYHpgDAJIHAzItNaAHpx8&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>

</div>
<br><br>
<div class="col-lg-5 col-sm-12">
  <div class="card">
    <img src="{{ url_for('static', filename='brand-img/c4.jpeg')}}" class="card-img-top k1" alt="ndure">
    <div class="card-body">
      <h5 class="card-title text-center"><a href="https://cliveshoes.com/collections/printed">Casual</a></h5>
    </div>
  </div>
</div>
  </div>

  <!--Metro-->
<div class="row" id="Metro">
  <div class="col-12">
  <h1>Metro</h1>
  <a href="https://www.instagram.com/metroshoespakistan/"><i class="bi bi-instagram"></i></a>
  <a href="https://www.metroshoes.com.pk/?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYWowS6GHZc_mkUYdGId3XxqDNDWlxY4Cm8iX3vHmlJV8rSTVmYyMpxoCgpIQAvD_BwE">  <i class="bi bi-globe2"></i></a>
  <a href="https://www.google.com/search?q=Metro+Shoes%2C+Civil+Lines%2C+Naya+Mohalla+Jhelum%2C+Jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=IaYLZpHyGYv77_UPn92YiA4&oq=metro+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgxtZXRybyBqaGVsdW0qAggFMgUQABiABDIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIIEAAYBRgHGB4yAhAmMgIQJjICECYyCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0iv_BBQAFjG2RBwAXgAkAEAmAGMAqABuguqAQMyLTa4AQHIAQD4AQGYAgWgAoQIwgIKEAAYBxgeGA8YCsICCBAAGAcYHhgPwgIIEAAYCBgHGB7CAggQABgFGB4YDcICBxAAGIAEGA2YAwCSBwUxLjAuNKAHzSk&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>

</div>
<br><br>
<div class="col-lg-5 col-sm-12">
  <div class="card">
    <img src="{{ url_for('static', filename='brand-img/m3.jpeg')}}" class="card-img-top k1" alt="ndure">
    <div class="card-body">
      <h5 class="card-title text-center"><a href="https://www.metroshoes.com.pk/collections/pret" >Casual</a></h5>
    </div>
  </div>
</div>
  </div>


  <br><br>
  <footer>
    <div class="col copy">
      &copy; Copyright <strong><span>JhelumInsider</span></strong>. All Rights Reserved
  </div>
  </footer>





        </div>
</body>
<script src="{{ url_for('static', filename='boostrap/boostrap.js') }}"></script>
<script src="{{ url_for('static', filename='shopping/brand.js') }}"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>

</html>