<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='JI-logo.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='boostrap/boostrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shopping/brand.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <title>WestenWomen</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12"> 
              <nav>
                <div class="navbar">
                  <i class='bx bx-menu'></i>
                  <div class="logo"><a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='JI-logo.png')}}" alt="" srcset=""></a></div>
                  <div class="nav-links">
                    <div class="sidebar-logo">
                      <span class="logo-name"><img src="{{ url_for('static', filename='JI-logo.png')}}" alt="" srcset=""></span>
                      <i class='bx bx-x' ></i>
                    </div>
                    <ul class="links">
                      <li><a href="{{ url_for('home_page') }}">HOME</a></li>
                      <li><a href="{{ url_for('historical_places') }}">HistoricalPlaces</a></li>
                      <li><a href="{{ url_for('fp') }}">FoodPoints</a></li>
                      <li>
                        <a href="#">ShoppingPoints</a>
                        <i class='bx bxs-chevron-down sp-arrow arrow  '></i>
                        <ul class="sp-sub-menu sub-menu">
                          <li><a href="{{ url_for('brand') }}">Brands</a></li>
                          <li><a href="{{ url_for('local') }}">Local Shops</a></li>
                          <li><a href="{{ url_for('marts') }}">Local Marts</a></li>
                          
                        </ul>
                      </li>
                      <li>
                        <a href="{{ url_for('edu') }}">EducationalInstitues</a>
                        <i class='bx bxs-chevron-down edu-arrow arrow  '></i>
                        <ul class="edu-sub-menu sub-menu">
                          <li><a href="{{ url_for('edu') }}">Schools</a></li>
                          <li><a href="{{ url_for('edu') }}">Colleges</a></li>
                          <li><a href="{{ url_for('edu') }}">Universities</a></li>
                          <li><a href="{{ url_for('edu') }}">Islamic Centers</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Others</a>
                        <i class='bx bxs-chevron-down other-arrow arrow  '></i>
                        <ul class="other-sub-menu sub-menu">
                          <li><a href="{{ url_for('hospital') }}">Hospitals</a></li>
                          <li><a href="{{ url_for('service') }}">Services</a></li>
                          <li><a href="{{ url_for('Software_Houses') }}">SoftwareHouses</a></li>
                          <li><a href="{{ url_for('town_parks') }}">Parks&Towns</a></li>
                        </ul>
                      </li>
                      
            
                    </ul>
                  </div>
                  <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                      <input type="text" placeholder="Search..." id="search-input">
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
      <div class="row">
        <div class="col-12">
          <img src="{{ url_for('static', filename='brand-img/1.jpg')}}" class="img-fluid" alt="...">
          <div class="typewriter">
            <h1> Colors of life </h1>
          </div>
        </div>
      </div>
    
    
    <center><div class="row "id="gallery" id="Westen Women">
        
            <div class="col-6 Categories"><figure class="figure"><img src="{{ url_for('static', filename='brand-img/7.png')}}" class="WestenWomen" alt="img_2"><figcaption class="figure-caption text-center">
                <a href="westwomen.html"><h4>Westen Women</h4></a>
              </figcaption></figure></div>
        </div></center>



<!--Ethnic-->
          <div class="row" id="Ethnic">
            <div class="col-12">
              <h1>Ethnic</h1>
  <a href="https://www.instagram.com/ethncofficialpk/"></i></a>
  <a href="https://ethnc.com/">  <i class="bi bi-globe2"></i></a>
  <a href="https://www.google.com/search?q=ethnic+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=w5YLZuT4I4KJ9u8Pqe6bgA4&ved=0ahUKEwik5uep5aKFAxWChP0HHSn3BuAQ4dUDCAk&uact=5&oq=ethnic+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIg1ldGhuaWMgamhlbHVtMgsQABiABBiKBRiRAjIFEAAYgAQyBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yCxAAGIAEGIoFGJECMgQQABgeMgQQABgeMgQQABgeMgIQJkjMFFAAWL8QcAB4AJABAJgB-gGgAZ8NqgEDMi03uAEDyAEA-AEBmAIFoALzCcICChAAGIAEGIoFGEPCAg0QABiABBiKBRhDGLEDwgIQEAAYgAQYigUYQxixAxiDAcICBxAAGIAEGA3CAggQABgIGAcYHsICCBAAGAUYHhgNmAMAkgcDMi01oAf6LQ&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
            
            </div>
            <br><br>
          <div class="col-lg-5 col-sm-12">
            <div class="card">
              <img src="{{ url_for('static', filename='brand-img/et4.jpeg')}}" class="card-img-top k1" alt="ndure">
              <div class="card-body">
                <h5 class="card-title text-center"><a href="https://pk.ethnc.com/collections/boutique" >Westen Women</a></h5>
            
              </div>
            </div>
          </div>
            </div>

<!--outffiter-->

<div class="row" id="outffiter">
    <div class="col-12 ">
      <h1>Outfitter</h1>
      <a href="https://www.instagram.com/outfitters_pk/"></i></a>
      <a href="https://outfitters.com.pk/collections/seniors-frequently-buying-products?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYSP4gfYagOQ0_kGh5HLLhSI9_B91lVOlG_3PNa_vAsj2qBodscnZJhoC-ewQAvD_BwE">  <i class="bi bi-globe2"></i></a>
      <a href="https://www.google.com/search?q=ethnic+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=w5YLZuT4I4KJ9u8Pqe6bgA4&ved=0ahUKEwik5uep5aKFAxWChP0HHSn3BuAQ4dUDCAk&uact=5&oq=ethnic+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIg1ldGhuaWMgamhlbHVtMgsQABiABBiKBRiRAjIFEAAYgAQyBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yCxAAGIAEGIoFGJECMgQQABgeMgQQABgeMgQQABgeMgIQJkjMFFAAWL8QcAB4AJABAJgB-gGgAZ8NqgEDMi03uAEDyAEA-AEBmAIFoALzCcICChAAGIAEGIoFGEPCAg0QABiABBiKBRhDGLEDwgIQEAAYgAQYigUYQxixAxiDAcICBxAAGIAEGA3CAggQABgIGAcYHsICCBAAGAUYHhgNmAMAkgcDMi01oAf6LQ&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
    
    </div>
    <br><br>
    <div class="col-lg-5 col-sm-12">
        <div class="card">
          <img src="{{ url_for('static', filename='brand-img/o2.jpeg')}}" class="card-img-top k1" alt="ndure">
          <div class="card-body">
            <h5 class="card-title text-center">
                <a href="https://outfitters.com.pk/collections/men-new-arrivals-view-all" >WestenMen</a></h5>
        
          </div>
        </div>
      </div>
        </div>

        <!--Alkaram Studio-->
<div class="row" id="Alkaram Studio">
    <div class="col-12">
    <h1>Alkaram Studio</h1>
    <a href="https://www.instagram.com/alkaramstudio/"></i></a>
    <a href="https://www.alkaramstudio.com/collections/sale?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYSmDvfalQigC3XMuF-AP8SKTE7pl8R5VQkCngwVomcJQOp-ryftLiRoCAskQAvD_BwE">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=alkaram+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=WpsLZtujD-z_7_UP8MqriAk&oq=alkaram+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIg5hbGthcmFtIGpoZWx1bSoCCAAyCxAAGIAEGIoFGJECMgYQABgHGB4yBhAAGAcYHjICECYyCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0jiP1AAWLkmcAB4AJABAJgBxQKgAYIQqgEFMi02LjK4AQHIAQD4AQGYAgigAsAQwgIKEAAYgAQYigUYQ8ICDRAAGIAEGIoFGEMYsQPCAhAQABiABBiKBRhDGLEDGIMBwgIHEAAYgAQYDZgDAJIHBTItNi4yoAeQKw&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
  <br><br>
  <div class="col-lg-5 col-sm-12">
    <div class="card">
      <img src="{{ url_for('static', filename='brand-img/as4.jpeg')}}" class="card-img-top k1" alt="ndure">
      <div class="card-body">
        <h5 class="card-title text-center">
            <h5 class="card-title text-center"><a href="https://edenrobe.com/collections/boys">WestenWomen</a></h5>
    
      </div>
    </div>
  </div>
    </div>

<!--Lime Light-->
<div class="row"  id="Lime Light">
    <div class="col-12">
    <h1>Lime Light</h1>
    <a href="https://www.instagram.com/collectionlimelight/"></i></a>
    <a href="https://www.limelight.pk/">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=lime+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=X58LZszKF5mXxc8P1pe2yAY&ved=0ahUKEwiM9tTE7aKFAxWZS_EDHdaLDWkQ4dUDCAk&uact=5&oq=lime+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgtsaW1lIGpoZWx1bTIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0jzFVAAWIIKcAB4AJABAJgBggKgAaYJqgEDMi01uAEDyAEA-AEBmAIDoAL1BcICDhAAGIAEGIoFGJECGLEDwgIKEAAYgAQYigUYQ8ICEBAAGIAEGIoFGEMYsQMYgwHCAgUQABiABMICCBAAGAgYBxgemAMAkgcDMi0zoAf8Iw&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
  <br><br>
  <div class="col-lg-5 col-sm-12">
    <div class="card">
      <img src="{{ url_for('static', filename='brand-img/ll3.jpeg')}}" class="card-img-top k1" alt="ndure">
      <div class="card-body">
        <h5 class="card-title text-center">
            <h5 class="card-title text-center"><a href="https://www.limelight.pk/collections/western" >Westen Women</a></h5>
    
      </div>
    </div>
  </div>
    </div>

<!--Stylo-->
<div class="row" id="Stylo">
    <div class="col-12">
    <h1>Stylo</h1>
    <a href="https://www.instagram.com/stylopk/"><i class="bi bi-instagram"></i></a>
    <a href="https://stylo.pk/collections/women-shoes?gad_source=1&gclid=CjwKCAjwtqmwBhBVEiwAL-WAYayWVhr4nmVJSpKo7zsTs2ZyOVDQNdrJH6OnZc3USJy_8geWhk2QvRoCcMEQAvD_BwE">  <i class="bi bi-globe2"></i></a>
    <a href="https://www.google.com/search?q=stylo+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=e6ILZpf0BK_67_UPuf-_6Ao&ved=0ahUKEwjXnYrA8KKFAxUv_bsIHbn_D60Q4dUDCAk&uact=5&oq=stylo+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIgxzdHlsbyBqaGVsdW0yCxAAGIAEGIoFGJECMgYQABgHGB4yCxAAGIAEGIoFGJECMgIQJjICECYyAhAmMgIQJjICECYyCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0iwMVD8DljHLXAAeACQAQCYAY0CoAG-EKoBAzItObgBA8gBAPgBAZgCB6AC_QzCAggQABgHGB4YCsICBhAAGB4YD8ICBhAAGAgYHsICChAAGIAEGIoFGEPCAg4QABiABBiKBRiRAhixA8ICEBAAGIAEGIoFGEMYsQMYgwGYAwCIBgGSBwMyLTegB8c5&sclient=gws-wiz-local#rlfi=hd:;si:;mv:[[33.0376426,73.74128429999999],[32.921430799999996,73.595208]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:10"><i class="bi bi-geo-alt-fill"></i> </a>
  
  </div>
  <br><br>
  <div class="col-lg-5 col-sm-12">
    <div class="card">
      <img src="{{ url_for('static', filename='brand-img/s5.jpeg')}}" class="card-img-top k1" alt="ndure">
      <div class="card-body">
        <h5 class="card-title text-center"><a href="https://stylo.pk/collections/western">Westen Women</a></h5>
      </div>
    </div>
  </div>
    </div>

<!--STONE harbor-->

<div class="row" id="STONE harbor">
    <div class="col-12 ">
      <h1>Stone Harbor</h1>
      <a href="https://www.instagram.com/stone_harbor1976/"></i></a>
      <a href="https://www.stoneharbor.com.pk/">  <i class="bi bi-globe2"></i></a>
      <a href="https://www.google.com/search?q=stone+horbor+jhelum&sca_esv=12ccb0fb0fe1b570&biw=1357&bih=642&tbm=lcl&ei=pKwLZt_FObKK9u8PycyBiAM&ved=0ahUKEwjfp9-Y-qKFAxUyhf0HHUlmADEQ4dUDCAk&uact=5&oq=stone+horbor+jhelum&gs_lp=Eg1nd3Mtd2l6LWxvY2FsIhNzdG9uZSBob3Jib3IgamhlbHVtMgcQABiABBgNSPApUABYqSZwAHgAkAEAmAGbAqAB6xeqAQQyLTEzuAEDyAEA-AEBmAIMoAK0FsICChAAGIAEGIoFGEPCAgsQABiABBiKBRiRAsICDRAAGIAEGIoFGEMYsQPCAhAQABiABBiKBRhDGLEDGIMBwgIGEAAYBxgewgICECbCAggQABgHGB4YD8ICCxAAGIAEGIoFGIYDwgIGEAAYHhgPwgIIEAAYgAQYogSYAwCSBwQyLTEyoAe8Lw&sclient=gws-wiz-local"><i class="bi bi-geo-alt-fill"></i> </a>
    
    </div>
    <br><br>
    <div class="col-lg-5 col-sm-12">
        <div class="card">
          <img src="{{ url_for('static', filename='brand-img/sh2.jpeg')}}" class="card-img-top k1" alt="ndure">
          <div class="card-body">
           
           <h5 class="card-title text-center"><a href="https://www.stoneharbor.com.pk/collections/women">Westen Women</a></h5>
          </div>
        </div>
      </div>
        </div>


  <br>
  <footer>
    <div class="col copy">
      &copy; Copyright <strong><span>JhelumInsider</span></strong>. All Rights Reserved
  </div>
  </footer>





        </div>
</body>
<script src="{{ url_for('static', filename='boostrap/boostrap.js') }}"></script>
<script src="{{ url_for('static', filename='shopping/brand.js') }}"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>
</html>