<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Houses Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SH.styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-lGBxjQ5UTzZ3lwUV/QJ/A5qLRo2cpP9Z2zjvNycLurEe4JrvmUuhsoIQkx6x6Atxb/TrV2dJeK2e8OmtS+BXUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="shortcut icon" href="{{ url_for('static', filename='JI-logo.ico') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="navbar">
          <i class='bx bx-menu'></i>
          <div class="logo"><a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='JI-logo.png')}}" alt="" srcset=""></a></div>
          <div class="nav-links">
            <div class="sidebar-logo">
              <span class="logo-name"><img src="{{ url_for('static', filename='JI-logo.png')}}" alt="" srcset=""></span>
              <i class='bx bx-x' ></i>
            </div>
            <ul class="links">
              <li><a href="{{ url_for('home_page') }}">HOME</a></li>
              <li><a href="{{ url_for('historical_places') }}">HistoricalPlaces</a></li>
              <li><a href="{{ url_for('fp') }}">FoodPoints</a></li>
              <li>
                <a href="#">ShoppingPoints</a>
                <i class='bx bxs-chevron-down sp-arrow arrow  '></i>
                <ul class="sp-sub-menu sub-menu">
                  <li><a href="{{ url_for('brand') }}">Brands</a></li>
                  <li><a href="{{ url_for('local') }}">Local Shops</a></li>
                  <li><a href="{{ url_for('marts') }}">Local Marts</a></li>
                  
                </ul>
              </li>
              <li>
                <a href="{{ url_for('edu') }}">EducationalInstitues</a>
                <i class='bx bxs-chevron-down edu-arrow arrow  '></i>
                <ul class="edu-sub-menu sub-menu">
                  <li><a href="{{ url_for('edu') }}">Schools</a></li>
                  <li><a href="{{ url_for('edu') }}">Colleges</a></li>
                  <li><a href="{{ url_for('edu') }}">Universities</a></li>
                  <li><a href="{{ url_for('edu') }}">Islamic Centers</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Others</a>
                <i class='bx bxs-chevron-down other-arrow arrow  '></i>
                <ul class="other-sub-menu sub-menu">
                  <li><a href="{{ url_for('hospital') }}">Hospitals</a></li>
                  <li><a href="{{ url_for('service') }}">Services</a></li>
                  <li><a href="{{ url_for('Software_Houses') }}">SoftwareHouses</a></li>
                  <li><a href="{{ url_for('town_parks') }}">Parks&Towns</a></li>
                </ul>
              </li>
              
    
            </ul>
          </div>
          <div class="search-box">
            <i class='bx bx-search'></i>
            <div class="input-box">
              <input type="text" placeholder="Search..." id="search-input">
            </div>
          </div>
        </div>
      </nav>
      <h2 class="sub-heading">IT SOLUTION NETWORK</h2>
    <main>
        <section class="S.H-details">
            <div class="S.H-about-container">
                <div class="S.H-about-content">
                    <h2><i class="fas fa-info-circle"></i> About</h2>
                    <p>IT Solution Network, based in Dina Jhelum, is a dynamic IT company dedicated to providing comprehensive solutions to meet the evolving needs of businesses and organizations. With a focus on innovation and customer satisfaction, we offer a wide range of IT services including network infrastructure setup, software development, cybersecurity solutions, and IT consultancy. Our experienced team of professionals is committed to delivering tailored solutions that optimize efficiency, productivity, and security for our clients. At IT Solution Network, we strive to be a trusted partner in the digital transformation journey, empowering businesses to thrive in the ever-changing technological landscape. 
                        </p>
                
                <h2><i class="fas fa-address-card"></i> Contact Information</h2>
                <p><i class="fas fa-map-marker-alt"></i> Address:Mangla Road Dina, Jhelum, Punjab, Pakistan</p>
                <p><i class="fas fa-phone"> </i>Phone:03215445040</p>
                <p><i class="fas fa-envelope"></i> Email:none</p>
                <h2><i class="fas fa-globe"></i> Visit company's Site</h2>
                <p><i class="fas fa-external-link-alt"></i> <a href="https://www.businesslist.pk/company/245236/it-solution-network">Software House Website</a></p>
            </div>
            <!-- Embed Google Map -->
            <div id="map-container">
                <h2><i class="fas fa-map-marked-alt"></i> Location</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.1001555665443!2d73.59887527467306!3d33.02749171272725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f8d14468c16f9%3A0x5cf3dd6e78aa36ba!2sIT%20SOLUTION%20NETWORK!5e0!3m2!1sen!2s!4v1707712072008!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <script src="script.js"></script>
        </section>
    </main>
    <footer>
        <div class=" footer">
            &copy; Copyright <strong><span>JhelumInsider</span></strong>. All Rights Reserved
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
